<a href="https://colab.research.google.com/github/DanielSFreitas/Estudo.Pandas/blob/main/Banco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
bank = pd.read_csv('/content/drive/MyDrive/Atividade/bank.csv', sep = ';')
bank.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
bank.groupby(['marital', 'job']).mean()
import numpy as np
bank.pivot_table(index = 'marital', columns= ['job'], aggfunc=np.mean)

<ipython-input-2-a263e51d0ba8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bank.groupby(['marital', 'job']).mean()
<ipython-input-2-a263e51d0ba8>:3: FutureWarning: The operation <function mean at 0x780667b50430> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  bank.pivot_table(index = 'marital', columns= ['job'], aggfunc=np.mean)

                age                                                            \
job          admin. blue-collar entrepreneur  housemaid management    retired
marital
divorced  43.362319   42.936709    46.437500  47.538462  44.243697  64.000000
married   41.484962   41.516595    42.856061  48.488095  42.488330  62.227273
single    34.552448   33.477011    32.900000  40.733333  35.334471  47.818182

                                                         ...     previous  \
job      self-employed   services    student technician  ... entrepreneur
marital                                                  ...
divorced     48.333333  43.112903        NaN  42.584270  ...     0.312500
married      42.637795  40.377119  33.900000  42.296837  ...     0.340909
single       35.268293  32.621849  25.864865  34.100746  ...     1.100000

                                                                           \
job      housemaid management   retired self-employed  services   student
marital
divorced  0.769231   0.621849  0.558140      0.600000  0.322581       NaN
married   0.273810   0.522442  0.579545      0.740157  0.372881  0.600000
single    0.466667   0.569966  0.909091      0.121951  0.647059  1.013514


job      technician unemployed   unknown
marital
divorced   0.235955   0.727273  0.000000
married    0.579075   0.560000  0.533333
single     0.686567   0.129032  0.428571

[3 rows x 84 columns]

In [ ]:
divorced_data = bank[bank['marital'] == 'divorced']
bank['percentual_entrepreneurs']= (divorced_data['job'] =='entrepreneur').mean()*100
percentual_entrepreneurs = (divorced_data['job'] =='entrepreneur').mean()*100
percentual_students = (divorced_data['job'] == 'student').mean()*100

In [ ]:
print(f"Percentual de divorciados que são empreendedores: {percentual_entrepreneurs:.2f}%")
print(f"Percentual de divorciados que são estudantes: {percentual_students:.2f}%")

Percentual de divorciados que são empreendedores: 3.03%
Percentual de divorciados que são estudantes: 0.00%

In [ ]:
bank['tops'] =pd.qcut(bank['balance'], q=[0 ,0.8, 0.9, 1], labels=['80% Inferiores','Gold', 'Premium'])

In [ ]:
bank['tops']

0       80% Inferiores
1              Premium
2       80% Inferiores
3       80% Inferiores
4       80% Inferiores
             ...
4516    80% Inferiores
4517    80% Inferiores
4518    80% Inferiores
4519    80% Inferiores
4520    80% Inferiores
Name: tops, Length: 4521, dtype: category
Categories (3, object): ['80% Inferiores' < 'Gold' < 'Premium']

In [ ]:
bank['premium_count'] = (bank['tops'] == 'Premium').sum()
gold_count = (bank['tops'] == 'Gold').sum()

In [ ]:
gold_count

452

In [ ]:
pd.crosstab(bank['premium_count'], bank['percentual_entrepreneurs'])

percentual_entrepreneurs  3.030303
premium_count
452                           4521

In [ ]:
pd.crosstab(bank['premium_count'], bank['percentual_entrepreneurs']).apply(lambda r:r/r.sum(), axis=1)

percentual_entrepreneurs  3.030303
premium_count
452                            1.0

In [ ]:
pd.crosstab(bank['premium_count'], bank['percentual_entrepreneurs']).apply(lambda r:r/r.sum(), axis=0)

percentual_entrepreneurs  3.030303
premium_count
452                            1.0

In [ ]:
melhores_10 = ['age', 'job']

In [ ]:
top_10_clientes = bank.sort_values(by='balance', ascending=False).head(10)
colunas_relevantes = ['age', 'job', 'marital', 'education', 'default', 'loan', 'duration']
tabela_final = top_10_clientes[colunas_relevantes]

def highlight_max_min(data):
    styles = data.copy()
    for column in data.columns:
        if column == 'duration':
            max_val = data[column].max()
            min_val = data[column].min()
            styles[column] = [
                'background-color: red' if v == max_val else
                'background-color: yellow' if v == min_val else
                '' for v in data[column]
            ]
        else:
            styles[column] = ''
    return styles

styled_df = tabela_final.style.apply(highlight_max_min, axis=None)
styled_df

In [ ]:
valores = bank['balance'].mean()
valores

1422.6578190665782

In [ ]:
bank.pivot_table(index = ['y', 'loan'], columns=['default'], values = 'balance', aggfunc= np.mean)

default            no         yes
y   loan
no  no    1516.932588 -132.909091
    yes    978.337600 -468.652174
yes no    1667.687898   61.428571
    yes    798.634146  167.000000